.App {
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #2e202b;
  font-family: Arial;
}

/* links inside navbar */
.navbar a {
  float: left;
  font-family: 'Droid Sans';
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover {
  /* border-radius: 15px; */
  background-color: rgb(77, 48, 77);
}

/* dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 46px;
}

/* links inside dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Abackground color for dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* SLIDESHOW IMAGE GOES HERE */

.image {
  width: 70vw;
  height: 500px;
  object-fit: cover;
  border-radius: 2px;
  user-select: none;
}

.image:hover {
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.right-arrow {
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  font-size: 1.5rem;
  color: black;
  z-index: 10;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.slideshow-text {
  display: none;
}

.container:hover .slideshow-text {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
